## Project Structure

```

├── .github
│   └── workflows
│       ├── build_readme.yml
│       ├── deploy-to-gh-pages.yml
│       ├── generate-package-lock.yml
│       ├── generate_summaries.yml
│       ├── main.yml
│       └── update_star_lists.yml
├── .gitignore
├── LICENSE
├── README.md
├── docs
│   └── readme
│       ├── base.md.j2
│       └── sections
│           ├── main.md.j2
│           └── structure.md.j2
├── github_stars.json
├── package-lock.json
├── package.json
├── postcss.config.js
├── public
│   ├── github_stars.json
│   └── index.html
├── pyproject.toml
├── scrape_stars.py
├── scripts
│   └── generate-package-lock.js
├── src
│   ├── App.js
│   ├── README.md
│   ├── components
│   │   ├── AdvancedSearch.js
│   │   ├── AdvancedSearchCondition.js
│   │   ├── Dashboard.js
│   │   ├── ExpandedRepoView.js
│   │   └── SortDropdown.js
│   ├── hooks
│   │   └── useRepositories.js
│   ├── index.css
│   ├── index.js
│   └── utils
│       └── sortUtils.js
├── tailwind.config.js
├── tests
│   ├── __init__.py
│   └── test_scrape.py
└── update_star_lists.py

```
